#list-barang {
	margin-left: 27px;
}

.card-barang {
    /* Add shadows to create the "card" effect */
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    max-width: 200px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.card-barang>img {
	border-bottom: solid 0.5px #636b6f;
}
.card-barang:hover {
	cursor: pointer;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.6);
}
.card-container {
    padding: 2px 16px;
}