#profile-panel {
	margin-top : 90px;
}

#profile-panel img {
	margin-top: -75px;
	margin-left: 10px;
	margin-right: 10px;
	border: solid 1px #7da8c3;
	border-radius: 5px 5px 0 0;
	float: left;
}

#profile-heading {
	width: auto;
	margin-top: 35px;
	font-size: 24px;
}

table.profile-info {
	margin-left: 10px;
}
table.profile-info td {
	padding-left: 10px;
	padding-right: 10px;
}

table.profile-info th {
	float: right;
}

#profile-info {
	float: left;
	/*background-color: blue;*/
}
@media screen and (max-width: 600px){
    #profile-info{display: none;}
}

td.content {
	/*float: left;*/
	width: 65%;
	padding-left: 10px;
	border-left: solid 0.5px #7da8c3;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.accordion:after {
    content: '\022ee'; /* Unicode character for "plus" sign (+) */
    font-size: 20px;
    color: #777;
    float: right;
    margin-left: 5px;
    margin-top: -6px;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.hide {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.show {
    padding: 0 18px;
    background-color: white;
    display: block;
    overflow: hidden;
    transition: .4s ease-out;
}

#panel1{
	height: 350px;
	overflow: auto;
	padding-top: 90px;
	border-left: solid 1px #7da8c3;
	border-right: solid 1px #7da8c3;

}

#barang {
	width: 100px;
	height: 100px;
}

#barang img {
	width: 90%;
	height: 90%;
	border: dotted 2px #7da8c3;
	border-radius: 10px;
}
#barang img:hover {
	cursor: pointer;
	width: 91%;
	height: 91%;
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 